/*DISPLAY SIZE HEIGHT: 1080P WIDTH: 1920*/

    /*Leader.html*/
        body
        {
            font-family: 'Times New Roman', Times, serif !important;
        }

        .border
        {
            position: fixed;
            width: 84%;
            top: 0%;
            left: 0%;
            border: solid white;
            background-color: white;
            padding-bottom: 5%;

            z-index: 999;
        }

        iframe {
            margin-left: 20px;
            height: 100vh; /* set the height of the iframe */
            width: 15%;
            position: fixed;
            top: 0%;
            right: 0%;
    
        }

        .links
        {
            height: auto;
            width: 70%;
            position: fixed;
            top: 11.5%;
            left: 7%;

            text-align: center;

            border: 2px solid black !important;
            background-color: white;
            border-radius: 20px;
            padding: 1%;
            
            z-index: 999;
        }

        a {
            font-size: 27.5px !important;

            margin-right: 7%;
            color: black;
            font-size: 30px;

            text-decoration: none;
        }

        a:link, a:visited {
            color: black;
        }

        a:hover {
            color: blue;
        }

        .current-page {
            color: blue !important;
        }

        .center {
            height: 30%;
            width: 30%;
            position:absolute;
            top: 25%;
            left: 38%;
            text-align: center;
        }

        .mayors
        {
            font-size: 100px;
            color: blue;
            position: fixed;
            top: 13%;
            left: 15%;
        }

    /*Current.html*/

        .Ross {
            position:fixed;
            top: 22.5%;
            left: 8.3%;
            bottom: 75%;
            text-align: center;

            z-index: 2;

            border: solid black 5px;
            border-radius: 20px;
            background-color: white;
            padding: 1%;
            height: 30%;
            width: 20%;

        }

        table
        {
            position: absolute;
            border-radius: 5px;
        }

        td, th
        {
            padding: 3%;
            border-radius: 5px;
        }

        .iframeTableRoss
        {
            width: 20%;
            height: 40%;

            position: fixed;
            top: 58.5%;
            left: 8.5%;

            border: solid 2px ;
            border-radius: 20px;

        
        }

        

        .mayors-current
        {
            font-size: 100px;
            color: blue;
            position:fixed;
            top: 12%;
            left: 0.5%;
        }

        .about
        {
            font-size: 16px;
            width: 45%;
            border: 5px solid black !important;
            border-radius: 20px;
            padding: 1%;

            position: absolute;
            top: 23%;
            left: 33%;
        }

        

    /*Hub.html*/
    .form
    {
        font-size: 16px;
        position: relative;
        top: 35%;
        left: 27%;

        border: 5px black solid;
        border-radius: 20px;
        padding: 1%;
        width: 50%;

        text-align: center;
        background-color: blue;
    }
    
    form
    {
        background-color: white !important;
    }


    .hub
    {
        font-size: 100px;
        color: blue;
        position:fixed;
        top: 28%;
        left: 12%;
    }

    .feed
    {
        font-size: 16px;
        width: 50%;
        border: 5px solid black !important;
        border-radius: 20px;
        padding: 1%;

        position: relative;
        left: 27%;

        margin-bottom: 1%;
    }

    .hashtag
    {
        color: blue;
    }



    .reaction-icon {
        font-size: 50px;
        cursor: pointer;
        margin-right: 15%;
        
        position: relative;
        left: 28%;
    }
    
      
      .heart:hover {
        color: red;
      }

      .heart
      {
        color: pink;
      }
      
      .comment:hover {
        color: limegreen;
      }

      .comment
      {
        color: lightgreen;
      }
      
      .share:hover {
        color: blue;
      }

      .share
      {
        color: lightblue;
      }
      .numbers
      {
        margin-right: 15.45%;

        position: relative;
        left: 27.3%;

        color: gray;
      }


    /*Comment Secion*/
      .feedComments
      {
        font-size: 16px;
        width: 50%;
        border: 5px solid black !important;
        border-radius: 20px;
        padding: 1%;

        position: relative;
        left: 13%;

        margin-bottom: 1%;

      }

      .formComment
      {
        font-size: 16px;
        width: 50%;
        border: 5px solid black !important;
        border-radius: 20px;
        padding: 2%;

        position: relative;
        left: 13%;

        margin-bottom: 1%;
        background-color: blue !important;
      }

      #txtComment
      {
        color: lightblue;
      }

      #txtareaComment
      {
        border: solid black 3px;
        border-radius: 10px;
      }

      .comments
      {
        font-size: 16px;
        width: 50%;
        border: 5px solid black !important;
        border-radius: 20px;
        padding: 1%;

        position: relative;
        left: 22%;

        margin-bottom: 1%;
      }

      /*Share Section*/
      .shareFeed
      {
        margin-top: 15%;
        font-size: 16px;
        width: 50%;
        border: 5px solid black !important;
        border-radius: 20px;
        padding: 1%;

        position: relative;
        left: 13%;

        margin-bottom: 1%;
        background-color: blue;
      }

      #txtShare
      {
        color: lightblue;
      }

      .shareForm
      {
        background-color: blue !important;
      }

      #txtareaShare
      {
        border: solid black 3px;
        border-radius: 10px;
      }


      
      .sharedPost
      {
        font-size: 16px;
        width: 95%;
        border: 5px solid black !important;
        border-radius: 20px;
        padding: 1%;

        position: relative;

        z-index: 1;
        background-color: white;
      }


    /*Popular.html*/
    .popular_now
    {
        font-size: 50px;
        color: blue;
        position: fixed;
        top: 20%;
        left: 15%;
    }

    .trend
    {
        font-size: 16px;
        width: 50%;
        border: 5px solid black !important;
        border-radius: 20px;
        padding: 1%;

        position: relative;
        left: 27%;

        margin-bottom: 1%;
    }

    .hashtag
    {
        color: blue;
    }

    /*Media Query*/
